:root {
    --purplish: rgb(196, 23, 196);
    --offwhite: rgb(240, 238, 238);
    --pinkish: rgba(232, 102, 236, 1);
}

* {
    background-color: rgb(71, 71, 71);
    font-family: sans-serif;
}

h1, h2, h3, p {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h1, h2, h3, p {
    color: var(--purplish);
}

#doc-header {
    padding: 30px;
}

#doc-header p {
    color: var(--offwhite);
    font-size: 15px;
    padding: 10px;
}

.cheatsheet {
    margin: 10px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.card-header {
    position: relative;
    margin-top: -20px;
    border: 3px solid var(--offwhite);
    padding: 5px;
    color: var(--purplish);
}

.code-card p {
    text-align: left;
    font-size: 15px;
    margin: 15px;
}

.code-card {
    width: 30%;
    flex: 1 1 300px;
    padding: 10px;
    border: 1px dashed var(--offwhite);
}

pre {
    color: var(--offwhite);
    padding: 5px;
    margin: 10px;
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
}

.code-card:hover, 
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--pinkish),
                      0 0 15px var(--pinkish);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 992px) {
    .code-card {
      width: 45%;
    }
  }
  
@media screen and (max-width: 768px) {
    .code-card {
      width: 100%;
    }

    .cheatsheet {
        flex-direction: column;
    }
}